@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>
@using (Html.BeginForm())
{
  @Html.Label("Engineer Name")
  @Html.TextBoxFor(model => model.EngineerName)
  @Html.Label("Details")
  @Html.TextAreaFor(model => model.EngineerDetails)
  <input type="submit" value="Add new engineer" />
}