@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)
  @Html.LabelFor(model => model.EngineerDetails)
  @Html.TextAreaFor(model => model.EngineerDetails)
  <input type="submit" value="Add new engineer" />
}